@font-face {
    font-family: "pixel_font";
    src: url("http://julgodis.github.io/LD35/resources/pixel_font.ttf");
    font-style: normal;
    -webkit-font-smoothing: none;
}

body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}
